<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Edit Course</h1>
    <form class="field-form" method="post">
        <label>First Name</label><br>
        <input type="text" name="name" value="<%=course.name%>"><br><br>
        <label>Last Name</label><br>
        <input type="text" name="description" value="<%=course.description%>"><br><br>
        <label>Date of Birth</label><br>
        <input type="number" name="duration" value="<%=course.duration%>"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html> 